{% extends 'base.html.twig' %}

{% block title %}Promos index{% endblock %}

{% block body %}
    <h1>Promos index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Promo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for promo in promos %}
            <tr>
                <td>{{ promo.id }}</td>
                <td>{{ promo.promo }}</td>
                <td>
                    <a href="{{ path('promos_show', {'id': promo.id}) }}">show</a>
                    {% if promo.id  != 1 %}
                    <a href="{{ path('promos_edit', {'id': promo.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('promos_new') }}">Create new</a>
{% endblock %}
