{{ form_start(form) }}
                 
                                            {{ form_row(form.sejour,{'label':'Voyage Organisé'}) }}

                  {{ form_row(form.Article.dest, {'label': 'Destination'}) }}


                      {{ form_row(form.Article.titre, {'label': 'Titre'}) }}
                      {{ form_row(form.Article.pix, {'label': 'Prix'}) }}
                      {{ form_row(form.Article.shortdesc, {'label': 'court déscripton'}) }}
                      {{ form_row(form.Article.descrip, {'label': 'déscripton'}) }}
                      {{ form_row(form.Article.datedep, {'label': 'date départ'}) }}

                      {{ form_row(form.Article.datearriv, {'label': 'date darrivée'}) }}
                      {{ form_row(form.Article.topDistination) }}
                                            {{ form_row(form.Article.promo) }}
                                            {{ form_row(form.Article.Media) }}
                                         <fieldset class="form-group"><legend class="col-form-label required">Images</legend><div id="voyage_Article_images"><div class="form-group"><label for="voyage_Article_images_url" class="required">Url</label><div class="custom-file"><input type="file" id="voyage_Article_images_url" name="voyage[Article][images][url][]" required="required" multiple="multiple" class="custom-file-input"><label for="voyage_Article_images_url" class="custom-file-label"></label>
 </div>
</div>
</div>

</fieldset>


    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
